.custom-shape-divider-bottom-1711412436 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711412436 svg {
  position: relative;
  display: block;
  width: calc(200% + 1.3px);
  height: 306px;
}

.custom-shape-divider-bottom-1711412436 .shape-fill {
  fill: #9013FE80;
}